#blue
{
  background-color: #2574a9;
}
.blue
{
  background-color: #2574a9;
}

#violet
{
  background-color: #9a12b3;
}
.violet
{
  background-color: #9a12b3;
}

#rose
{
  background-color: #db0a5b;
}
.rose
{
  background-color: #db0a5b;
}
